
@import url('https://fonts.googleapis.com/css2?family=Slackside+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Patua+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-background: #fafbfe !important;
    --main-blue: #4c7eb8 !important;
}

body {
    background-color: var(--main-background) !important;
    color: var(--main-blue) !important;
}

a {
    color: var(--main-background) !important;
}

ol, li{
    list-style: none;
}

#nav_bar {
    background-color: var(--main-blue) !important;
    background-image: linear-gradient(to right, var(--main-blue) 70%, #e6ecf34d);
    font-family: "Lato", sans-serif !important;
    font-weight: 400;
    font-style: normal;
   /* border-bottom: solid 1px antiquewhite !important ;*/
}

.button-style{
    background-color: var(--main-blue) !important;
    border: solid 1px var(--main-blue) !important;
}
 
/*TODO: media queries para a imagem inicial de fundo*/

/*Cellphones*/
@media (max-width: 576px){
     /*the regular menu only shows when the screen is bigger than 576px*/
     #navBiggerScreens{
        display: none;
    }

    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        position: relative;
    }
    
    /* Hide the links inside the navigation menu when not clicked*/
    #myLinks {
        display: none;
       
    }
    
    /* Style menu for cellphones */
    #myLinks ul{
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 1rem;
        position:fixed;
        background-color: var(--main-blue) !important;
        font-family: "Lato", sans-serif !important;
        font-weight: 400;
        font-style: normal;
        border-radius: 4px;
    }
    
    /* Style the hamburger menu */
    i{
        background-color: var(--main-blue);
        /*display: block;
        position: absolute;
        /*
        right: 0;
        top: 0;*/
        width: 100%;
        padding: 1rem;
    } 

    /*page content*/
    #firstPicContainer {
         height: 60vh;
         background-image: url('./images/mainPic.jpeg');
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
         overflow: hidden;   
     }
     #phrase {
        font-family: "Slackside One", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5rem;
        width: 80%;
        color: #232336;
      }
      #myNameFirstContent{
        color: #232336;
        margin-top: 7%;
        margin-bottom: 0;
        font-family:  "Patua One", serif !important;
        font-weight: 400;
        font-style: normal;
        /*font-family: "Patua One" !important; */
      }
      #footerItems{
        display: flex !important;
        flex-direction: column !important;
        align-items: center ;
      }
}

/*tablets*/
@media (min-width: 577px) {
    #cellphoneScreen{
        display: none;
    }
    .nav_bar {
        background-color: var(--main-blue) !important;
        background-image: linear-gradient(to right, var(--main-blue) 70%, #e6ecf34d);
        font-family: "Lato", sans-serif !important;
        font-weight: 400;
        font-style: normal;
    }
    #firstPicContainer {  
         height: 80vh !important ;
         background-image: url('./images/mainPic.jpeg');
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
         overflow: hidden;   
     }
     #phrase {
        font-family: "Slackside One", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 2rem;
        width: 80%;
        color: #232336;
      }
      #myNameFirstContent{
        color: #232336;
        margin-top: 7%;
        margin-bottom: 0;
        font-family:  "Patua One", serif !important;
        font-weight: 400;
        font-style: normal;
        font-size: 2rem;
        /*font-family: "Patua One" !important; */
      }


}

@media (min-width: 768px){
    #cellphoneScreen{
        display: none;
    }
    .nav_bar {
        background-color: var(--main-blue) !important;
        background-image: linear-gradient(to right, var(--main-blue) 70%, #e6ecf34d);
        font-family: "Lato", sans-serif !important;
        font-weight: 400;
        font-style: normal;
    }
    /*
    #nav_bar{
        padding-left: 20%;
        padding-right: 20%;
    }*/
    #firstPicContainer {
         height: 120vh !important;
         background-image: url('./images/mainPic.jpeg');
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
         overflow: hidden;   
     }
     #phrase {
        font-family: "Slackside One", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 3rem;
        width: 80%;
        color: #232336;
      }
      #myNameFirstContent{
        color: #232336;
        margin-top: 5%;
        margin-bottom: 0;
        font-family:  "Patua One", serif !important;
        font-weight: 400;
        font-style: normal;
        font-size: 3rem;
        /*font-family: "Patua One" !important; */
      }


}
/*
#firstPicContainer { 
    height: 60vh;
    background-image: url('./images/mainPic.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;  
}*/

/*#picContainer{
    width: 100%;
    background-image: url('C:\Users\User\Documents\PROJETOS JAVASCRIPT\site portfolio\images\mainPic.jpeg');
    background-repeat: no-repeat;
    background-size: cover; 
    height: 20rem;
    overflow: hidden;
    position: relative;
}
#picMe {
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}*/

#card-trips {
    width: 80%;
}
.cardTripImage{
    width: 80%;
}
/*.cor-fundo{
    background-color: var(--main-blue);
    color: var(--main-background);
}*/

#carousel {
    height: 30rem;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.imageCarousel{
    height: auto;
    width: 100%;
    object-fit: cover;
    left: 0;
    bottom: 0;
}

footer {
    background-color: var(--main-blue) !important;
    background-image: linear-gradient(to right, var(--main-blue) 70%, #e6ecf34d);
    color: var(--main-background) !important;
    font-family: "Lato", sans-serif !important;
    font-weight: 400;
    font-style: normal;
   /* border-bottom: solid 1px antiquewhite !important ;*/
}

/*icons*/

