@import url('https://fonts.googleapis.com/css2?family=Slackside+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Patua+One&display=swap');

:root{
    --main-background: #fafbfe !important;
    --main-blue: #4c7eb8 !important;
}

#socialMediaIcons{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 35%;
    margin-left: 1px;
}
#socialMediaIcons a {
    background-color: var(--main-blue);
    padding: 0.30rem 0.7rem;
    margin-bottom: 1px;
    border-radius: 25px;
}
#iconsContact i{
    color: var(--main-blue);
}
h1{
    color: var(--main-blue);
    font-family:  "Patua One", serif !important;
    font-weight: 400;
    font-style: normal;
}

#buttonSubmit{
    background-color: var(--main-blue);
    color: var(--main-background);
    width: 100%;
    max-width: 25rem;
    display: flex;
    justify-content: center;  
}
#buttonSubmit:hover {
    border: brightness(110%) !important;
   
}

/*Cellphones*/
@media (max-width: 576px){
    /*the regular menu only shows when the screen is bigger than 576px*/
    #navBiggerScreens{
        display: none;
    }

    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        position: relative;
    }
    
    /* Hide the links inside the navigation menu when not clicked*/
    #myLinks {
        display: none;
       
    }
    
    /* Style menu for cellphones */
    #myLinks ul{
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 1rem;
        position:fixed;
        background-color: var(--main-blue) !important;
        font-family: "Lato", sans-serif !important;
        font-weight: 400;
        font-style: normal;
        border-radius: 4px;
    }
    
    /* Style the hamburger menu */
    #cellphoneScreen i{
        background-color: var(--main-blue);
        /*display: block;
        position: absolute;
        /*
        right: 0;
        top: 0;*/
        width: 100%;
        padding: 1rem;
    }
 
    #form-section{
        width: 80%;
        
    }
    #footerItems{
        display: flex !important;
        flex-direction: column !important;
        align-items: center ;
      }

}

@media (min-width: 577px){
    #cellphoneScreen{
        display: none;
    }
    #form-section{
        width: 60%;
        
    }
    .nav-item{
        padding: 0 1.5rem;
    }
    
    i{
        color: var(--main-background);
        font-size: 1.5rem;
    }
}



